---
---
<section class="relative min-h-screen flex flex-col justify-center overflow-hidden">
    <div class="w-full max-w-6xl mx-auto px-4 md:px-6 py-24">
        <div class="flex flex-col justify-center divide-y divide-slate-200 [&>*]:py-16">

            <div class="w-full max-w-3xl mx-auto">
                <h2 class="pl-8 sm:pl-32 text-2xl font-bold mb-6 text-slate-100">Experience</h2>
                <!-- Vertical Timeline #1 -->
                <div class="-my-6">

                    <!-- Item #1 -->
                    <div class="relative pl-8 sm:pl-32 py-6 group">
                        <!-- Purple label -->
                        <!-- Vertical line (::before) ~ Date ~ Title ~ Circle marker (::after) -->
                        <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-slate-600 after:border-4 after:box-content after:border-slate-100 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                            <time class="sm:absolute left-0 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold uppercase min-w-20 h-6 mb-3 sm:mb-0 text-slate-100 bg-slate-800 border border-slate-600/75 rounded-full"><span class="px-3">Marzo 2021</span></time>
                            <div class="text-2xl font-bold text-slate-100">WIFIPREMIUM</div>
                            <div class="text-slate-400">Web design & development</div>
                        </div>
                        <!-- Content -->
                        <div class="text-slate-500">Landing page for WIFIPREMIUM, a company that provides WiFi services and solutions.</div>
                    </div>
                    
                    <!-- Item #2 -->
                    <div class="relative pl-8 sm:pl-32 py-6 group">

                </div>
                <!-- End: Vertical Timeline #1 -->
                
            </div>

        </div>
    </div>
</section>