---
---

<header class="fixed top-0 z-50 my-3 py-1 px-8 transition-all duration-300 rounded-full">
  <nav class="flex flex-row gap-x-4 text-base">
    <a class="relative block px-2 py-2 transition hover:text-slate-500 cursor-pointer" href="/">Home</a>
    <a class="relative block px-2 py-2 transition hover:text-slate-500 cursor-pointer" href="#projects">Projects</a>
    <a class="relative block px-2 py-2 transition hover:text-slate-500 cursor-pointer" href="#about">About</a>
    <a class="relative block px-2 py-2 transition hover:text-slate-500 cursor-pointer" href="/contact">Contact</a>
  </nav>
</header>

<style>
    header.scrolled {
        @apply bg-gray-600/5 backdrop-blur-sm shadow-xl rounded-full; 
    }
</style>

<script>
    window.addEventListener("scroll", function () {
      let header = document.querySelector("header");
      if (window.scrollY > 5) {
        header?.classList.add("scrolled"); 
      } else {
        header?.classList.remove("scrolled");
      }
    });
  </script>