---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Experience from "../components/Experience.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>./ramiurrutia</title>
  </head>
  <body>
		<Header />
	  <div class="absolute top-0 z-[-2] h-full w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div><slot />
  </body>

  <style is:global>
    :root {
		color-scheme: light dark;
	}
	html {
      @apply m-0 p-0 bg-neutral-950;
    }
	body {
		font-family: 'Onest Variable', sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
  </style>
</html>
